#cerveauSection {
    display: flex;
    justify-content: center;
    align-items: center;
}

#cerveau {
    width: 50vw;
    height: 50vw;
}

#LobeFrontal {
    fill: #a5aec7;
    transition: 0.3s;
    cursor: pointer;
}
#LobeFrontal:hover {
    fill: #000000;
}

#LobeParietal {
    fill: #bcc7a5;
    transition: 0.3s;
    cursor: pointer;
}
#LobeParietal:hover {
    fill: #000000;
}

#LoveOcipital {
    fill: #debbc8;
    transition: 0.3s;
    cursor: pointer;
}
#LoveOcipital:hover {
    fill: #000000;
}

#LobeTemporal {
    fill: #22252c;
    transition: 0.3s;
    cursor: pointer;
}
#LobeTemporal:hover {
    fill: #000000;
}

#Cervelet {
    fill: #7c8f53;
    transition: 0.3s;
    cursor: pointer;
}
#Cervelet:hover {
    fill: #000000;
}

.modal {
    border-radius: 2rem;
    padding: 2rem;
    position: absolute;

    display: flex;
    flex-direction: column;
}
#LobeFrontalModal {
    background-color: green;
}
#LobeParietalModal {
    background-color: red;
}

.closeButton {
    position: absolute;
    top: 5%;
    left: 92.5%;

    cursor: pointer;
}

.inactive {
    display: none;
}
.active {
    display: flex;
    justify-content: center;
    align-items: center;
}