#cerveauSection {
    display: flex;
    justify-content: center;
    align-items: center;
}

#cerveau {
    width: 50vw;
    height: 50vw;
}
#cerveau [tabindex]{
    outline: none;
}
#cerveau [tabindex]:focus-visible {
    outline: 2px solid var(--black);
}
    
.Lobe {
    transition: 0.3s;
    cursor: pointer;
    fill: var(--black);
    filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
}

#LobeFrontal:hover, #LobeFrontal:focus {
    fill: var(--Lavande);
}
#LobeParietal:hover, #LobeParietal:focus {
    fill: var(--sauge);
}
#LobeOcipital:hover, #LobeOcipital:focus {
    fill: var(--rose);
}
#LobeTemporal:hover, #LobeTemporal:focus {
    fill: var(--minuit);
}
#Cervelet:hover, #Cervelet:focus {
    fill: var(--vertSapin);
}

.modal {
    border-radius: 2rem;
    padding: 2rem;
    position: absolute;

    display: none;
    flex-direction: column;
}
.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

#LobeFrontalModal {
    background: var(--Lavande);
}
#LobeParietalModal {
    background: var(--sauge);
}
#LobeOcipitalModal {
    background: var(--rose);
}
#LobeTemporalModal {
    background: var(--minuit);
    color: var(--white);
}
#CerveletModal {
    background-color: var(--vertSapin);
}

.closeButton {
    position: absolute;
    top: 5%;
    left: 92.5%;
    cursor: pointer;
}