#cerveauSection {
    display: flex;
    justify-content: center;
    align-items: center;
}

#cerveau {
    width: 50vw;
    height: 50vw;
}

#LobeFrontal {
    fill: transparent;
    transition: 0.3s;
    pointer-events: all; 
}
#LobeFrontal:hover {
    fill: green; 
    cursor: pointer;
}

#LobeParietal {
    fill: transparent;
    transition: 0.3s;
    pointer-events: all; 
}
#LobeParietal:hover {
    fill: red; 
    cursor: pointer;
}

.modal {
    width: 70vh;
    height: 70vh;
    border-radius: 2rem;
    position: absolute;

    display: flex;
    flex-direction: column;
}
#LobeFrontalModal {
    background-color: green;
}
#LobeParietalModal {
    background-color: red;
}

.inactive {
    display: none;
}
.active {
    display: flex;
    justify-content: center;
    align-items: center;
}