#cerveau {
    width: 70vw;
    z-index: 1;
}
#cerveau [tabindex]{
    outline: none;
}
#cerveau [tabindex]:focus-visible {
    outline: 2px solid var(--minuit);
}

.Lobe {
    transition: 0.3s;
    cursor: pointer;
    fill: var(--blancCasse);
    filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
}

#LobeFrontal:hover, #LobeFrontal:focus {
    fill: var(--lavande);
}
#LobeParietal:hover, #LobeParietal:focus {
    fill: var(--sauge);
}
#LobeOcipital:hover, #LobeOcipital:focus {
    fill: var(--rose);
}
#LobeTemporal:hover, #LobeTemporal:focus {
    fill: var(--minuit);
}
#Cervelet:hover, #Cervelet:focus {
    fill: var(--vertSapin);
}

.modal {
    z-index: 2;
    width: 50vw;
    border-radius: 2rem;
    padding: 3rem;
    position: absolute;
    top : 16%;

    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    border: 2px solid black;
}
.active {
    display: flex;
    
}

#LobeFrontalModal {
    background: var(--lavande);
}
#LobeParietalModal {
    background: var(--sauge);
}
#LobeOcipitalModal {
    background: var(--rose);
}
#LobeTemporalModal {
    background: var(--minuit);
    color: var(--blancCasse);
}
#CerveletModal {
    background-color: var(--vertSapin);
}

.closeButton {
    width: 2vw;
    position: absolute;
    top: 12%;
    left: 92%;
    cursor: pointer;
}


@media (min-width: 768px) {
    #cerveau {
        width: 50vw;
    }

    .modal {
        top : 30%;
    }
}