footer {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--blancCasse);
}

#footerTop {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
}

.footerTopElements {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
}

.footerTopLinks {
    color: var(--minuitTransparent);
}

#newsletter {
    padding: 1rem;
    background-color: var(--blancCasseTransparent);
    border-radius: 1rem;
}
#newsLetterMessage {
    color: var(--minuitTransparent);
}

hr {
   border-color: var(--blancCasseTransparent); 
}

#footerBottom {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.footerBottomLinks {
    display: flex;
    gap: 1rem;
}

.SocialMediaLogo {
    width: 12vw;
}

@media (min-width: 768px) {
    footer {
        padding: 5rem 8rem;
        gap: 2rem;
    }

    .footerTopElements {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    #footerBottom {
        flex-direction: row;
        justify-content: space-between;
    }

    .SocialMediaLogo {
        width: 4vw;
    }
}

@media (min-width: 1024px) {
    #footerTop {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 2fr;
    }
}