footer {
    padding: 5rem 8rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--blancCasse);
}

.footerTopElements {
    padding: 1rem;
}

#links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    gap: 1rem;
}

.footerTopLinks {
    color: var(--minuitTransparent);
}

#newsletter {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--blancCasseTransparent);
    border-radius: 1rem;
}
#newsLetterMessage {
    color: var(--minuitTransparent);
}

hr {
   border-color: var(--blancCasseTransparent); 
}

#footerBottom {
    justify-content: space-between;
    align-items: center;
    display: flex; 
    gap: 1rem;
}

.footerBottomLinks {
    display: flex;
    gap: 1rem;
}

.SocialMediaLogo {
    width: 4vw;
}