header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1.5rem;
    background-color: var(--blancCasse);
}

#LogoFondation {
    width: 15vw;
    height: 100%;
}

nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
}

a {
    color: var(--minuit);
    text-decoration: none;
}

a:hover {
    color: var(--rose);
    text-decoration: underline;
}