header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1.5rem;
    background-color: var(--white);
}

nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
}

a {
    color: var(--black);
    text-decoration: none;
}

a:hover {
    color: var(--rose);
    text-decoration: underline;
}