header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 2rem;

    padding: 1.5rem;
    background-color: var(--blancCasse);
}

#LogoFondation {
    width: 60vw;
    height: 100%;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

a {
    color: var(--minuit);
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: var(--vertSapin);
    text-decoration: underline;
}

@media (min-width: 768px) {

    header {
    flex-direction: row;
    padding: 1.5rem;
    }

    #LogoFondation {
    width: 15vw;
    height: 100%;
    }

    nav {
    flex-direction: row;
    justify-content: flex-end;
    gap: 2rem;
    }

}