h2 {
    text-align: center;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    padding: 4rem 15rem;
    gap: 2rem;
}

.bouton {
    padding: 0.8rem;
    border-radius: 2rem;
    border: none;
}

#identiteSection {
    background-color: var(--lavandeTransparent);
}
#identiteEmpreinte, #identiteTete {
    width: 25vw;
    position: absolute;
}
#identiteEmpreinte {
    left: -10%;
    top: -20%;
    rotate: 120deg;
}
#identiteTete {
    right: -10%;
    bottom: -20%;
    transform: scaleX(-1);
}

#cerveauSection {
    background-color: var(--blancCasseTransparent);
}
#cerveauEmpreinte1, #cerveauEmpreinte2 {
    position: absolute;
}
#cerveauEmpreinte1 {
    width: 40vw;
    left: -25%;
    rotate: 30deg;
}
#cerveauEmpreinte2 {
    width: 25vw;
    rotate: 40deg;
    right: -15%;
    bottom: 30%;
}

#quizSection {
    background-color: var(--roseTransparent);
}
#quizTete {
    width: 25vw;
    position: absolute;
    right: -15%;
    top: -20%;
    rotate: 230deg;    
}
#quizBouton {
    background-color: var(--lavande);
    color: var(--blancCasse);
    border: 2px solid var(--lavande);
    transition: 0.3s;
}
#quizBouton:hover {
    background-color: var(--rose);
    color: var(--minuit);
    border: 2px solid var(--minuit);
    transition: 0.3s;
}

#miniJeuSection {
    background-color: var(--saugeTransparent);    
}
#minijeuEmpreinte1 {
    width: 25vw;
    position: absolute;
    left: -10%;
    top: -40%;
    rotate: 80deg;
}
#minijeuEmpreinte2 {
    width: 30vw;
    position: absolute;
    right: -15%;
    bottom: -40%;
    rotate: 30deg;
}
#miniJeuBouton {
    background-color: var(--vertSapin);
    color: var(--blancCasse);
    border: 2px solid var(--vertSapin);
    transition: 0.3s;
}
#miniJeuBouton:hover {
    background-color: var(--sauge);
    color: var(--minuit);
    border: 2px solid var(--minuit);
    transition: 0.3s;
}

footer {
    padding: 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#group-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}

#newsletter {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: rgb(186, 255, 232);
    border-radius: 1rem;
}

#footer_bottom {
    justify-content: space-between;
    align-items: center;
}

#footer_bottom, #flex {
    display: flex;
    gap: 1rem;
}