.btn-commencer {
    background-color: var(--vertMousse);
    color: var(--vertSapin);
    border: solid 1px var(--rose);
    border-radius: 1rem;
    padding: 1rem;
}

.btn-commencer:hover {
    background-color: var(--vertChloris);
    cursor: pointer;
}

.container-mini_game {
    margin-left: auto;
    margin-right: auto;
    max-width: 30rem;
    min-height: 10rem;
    padding: 1rem;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: var(--vertMousse);
    border: solid 1px var(--rose);
}

.apparaitre {
    display: grid;
}

.container-reponse {
    
    color: white;
    padding: 10px;
    border-radius: 10px;

}

.container-reponse:hover {
    background-color: #306e32;
    cursor: pointer;
}

.container-questions {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
}

.color-question {
    text-align: center;
}


body {
    background-color: black;
}