:root {
    --white : #ffffff;
    --black : #000000;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.ok-red {
    fill: transparent;
    transition: 0.3s;
    pointer-events: all; 
  }
  
  .ok-red:hover {
    fill: red; 
    cursor: pointer;
  }

  .ok-green {
    fill: transparent;
    transition: 0.3s;
    pointer-events: all; 
  }
  
  .ok-green:hover {
    fill: green; 
    cursor: pointer;
  }


  .pop-up-green, .pop-up-red {
    width: 50vh;
    height: 50vh;
    display: none;
    position: absolute;
   transform: translateX(50%);
   
  }

  .pop-up-green {
    background-color: green;
  }

  .pop-up-red {
    background-color: red;
  }

  .display-flex {
    display: flex;
  }