:root {
    --vertChloris : #D3F883;
    --vertMousse: #CDE911;
    --vertSapin: #7C8F53;
    --blancCasse: #F6F7F9;
    --minuit: #22252C;
    --sauge: #BCC7A5;
    --rose : #DEBBC8;
    --Lavande : #A5AEC7;

    --white : #FFFFFF;
    --black : #000000;
}